body {
	margin: 0;
	padding: 0;
	width: 480px;
	overflow-x: hidden;
}

title {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.logo {
	max-width: 90%;
}
/* ======== TOP MENU ======== */

.main-menu {
	background: #333333;
	display: block;
	margin:0 auto;
	padding:1% 5% 5%;
    background-image: linear-gradient(to top, black, #333333 10%);
    margin-left: -5em;
    padding-left: 5em;
    text-align: center;
}

.main-menu a {
	color: white;
	text-decoration: none;
}

.menu-link {
	float: left;
	display: inline;
	margin: 3% 5%;
}

.home-link {
	font-size: 21px;
	display: inline;
	font-weight: bold;
}

.menu[data-state="hidden"] {
	height: 0;
	max-height: 0;
	overflow: hidden;
}

.menu[data-state="active"] {
	width: 100%;
	float: left;
	margin: 0 0 0 -1em;
	padding: 0 0 0 1em;
	background: #333333;
}

span {
	display: inline;
	font-size: 21px;
}

.section-link {
	background-color: #333333;
    background-image: linear-gradient(to top, black, #333333 8%);
    padding: 15px;
    text-decoration: none;
}

.link {
	padding: 10px 15px;
	width: 100%;
}

/* ======== MAIN CONTENT ========== */

.main {
	display: block;
	background: white;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

a.tape-link {
	display: inline-block;
	text-align: left;
	margin:0 2%;
}

img.tape {
	max-width: 400px;
}

/* ====== ABOUT ======== */

.title {
	margin:10% 0 20% 5%;
}

.title-e {
	font-size: 36px;
}

.about > p {
	margin: 0 20% 10% 4%;
	line-height: 2;
	font-size: 18px;
}

.p-e {
	font-size: 21px;
}

.about-img {
	margin: -1.2em 0 0 -3em;
	display: block;
	text-align: center;
}

em {
	font-size: small;
	margin: 0;
}

/* ================ PATTERN =============== */

.pattern-img {
	width:420px;
	margin: 1em -1em;
	display: block;
}

.pattern-title {
	font-size: 24px;
	margin: 2em 10px 2em -1em;
	text-align: center;
	background: #333333;
	color: white;
	padding: 10px 1.5em 10px 1em;
	width:100%;
}

.simple-pattern-img {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	width:350px;
	margin-top: -5em;
}

/* ==== FEATURE TAPE ==== */

.side {
	width:400px;
	margin-left: -2em;
}

.meta-tags {
	margin:0 0 2em;
	font-size: 18px;
}

.meta-tags em {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	display: inline;
	margin-right: 1em;
}

.feature-title {
	margin:1em 1em 3em 0em;
	font-size: 39px;
	font-weight: 300;
}

.pattern-feature {
	margin-left: 1em;
}

.feature-details {
	margin-top: 5em;
}

.subtitle {
	font-size: 27px;
	font-style: italic;
}

/*==== LOCATION====*/
.location {
	color: #fbae06;
	text-align: center;
	border-top: #fbae06 2px solid;
	border-bottom: #fbae06 2px solid;
	margin: 1em 0;
	padding: 10px;
}

.location-title {
	color: #fbae06;
	text-align: center;
}
