body {
	margin: 0;
	padding: 0;
	width: 400px;
	text-align: left;
}

p {
	font-family: Avenir;
	src:url(fonts/Avenir-Book.ttf);
}

title {
	display: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-weight: 300;
	font-family: Avenir;
}

h1.home-container {
	font-size: 21px;
	margin:0;
	padding: 2%;
}

span {
	display: inline;
	font-size: 26px;
	margin: 0 1%;
}

.home-link {
	font-size: 21px;
	display: inline;
	padding: 5% 60% 5% 3%;
	margin: 0;
}

a {
	font-family: Avenir;
}

/* ======== MAIN CONTENT ========== */

.main {
	display: block;
	margin: 0;
	text-align: center;
}

a.tape-link {
	display: block;
	margin:0 auto;
	max-width: 100%;
}

img.tape {
	margin-top: 7%;
	padding: 0;
	width: 100%;
}

.tapes {
	margin:0;
	padding: 0;
	width: 400px;
	text-align: center;
}

/* ====== ABOUT ======== */

.title {
	margin:10% 0 15% 4%;
	text-align: left;
}

.title-e {
	font-size: 36px;
}

.about > p {
	margin: 0 20% 10% 4%;
	line-height: 2;
	font-size: 18px;
	text-align: left;
}

.p-e {
	font-size: 21px;
}

.about-img {
	margin: 0;
	display: block;
}

em {
	font-size: small;
	margin: 0;
}

/* ==== FEATURE TAPE ==== */


.pattern-feature {
	margin:7% 0;
	text-align: left;
}

.side {
	width:400px;
}

.meta-tags em {
	display: block;
}

.feature-title {
	margin:5% 0 9%;
	line-height: 1;
	font-size: 39px;
	font-weight: 300;
}

.feature-title,
.meta-tags,
.feature-details {
	margin-left: 4%;
	box-sizing: border-box;
	text-align: left;
}
.feature-details {
	margin-top: 7%;
	margin-right: 4%;
}

.subtitle {
	font-size: 27px;
	font-style: italic;
	text-align: left;
}